.big-box {
  position: relative;
  margin: 100px 100px auto 500px; /* 상에 마진100px */
  border: 5px solid black;
  width: 500px;
  height: 500px;
}

.small-box {
  width: 100px;
  height: 100px;
}

#red {
  background-color: red;
  /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
  position: absolute;  /*  */
  bottom: 0;  /* left: 400px; top: 400px로 해도 괜찮 */
  right: 0;
}

#gold {
  background-color: gold;  /* 자기 자리에서 빠지면서 다른것들을 위로 옮김 */
  position: fixed;
  right: 50px;
  bottom: 50px;
  /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
}

#green {
  background-color: green;
  /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
  position: absolute;
  left: 200px;
  top: 200px;
}

#blue {
  background-color: blue;
  /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
  position: relative;  /* absolute하면 orange, purple 깨짐 */
  left: 100px;
  top: 100px;
}

#pink {
  background-color: pink;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
  position: absolute;
  /* z-index: 9999;  큰 순서대로 중요하다는 것 의미 */
  left: 0;
  top: 0;
}

#purple {
  background-color: purple;
  position: absolute;
  left: 300px;
  top: 300px; 
}

#orange {
  background-color: orange;
  position: absolute;
  left: 200px;
  top: 0px;
}